.page-container .contact-main-content-container {
  display: flex;
  flex-direction: column;
}
.page-container .contact-main-content-container .map iframe {
  width: 100%;
}
.page-container .contact-main-content-container .contact-container {
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
}
.page-container .contact-main-content-container .contact-container .message-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10%;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .message-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 30%;
  font-size: 36px;
  font-weight: 600;
  color: #1d2944;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .message-inputs {
  width: 100%;
  height: 350px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .message-inputs div input {
  width: 70%;
  border: none;
  border-bottom: solid 1px #5a5a5a;
  padding: 0px 0px 10px;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .message-inputs div input:focus {
  outline: none;
  border-bottom: solid 2px #e91e63;
  transition: 0.5s;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .message-inputs div .write-input {
  padding: 0px 0px 150px;
  margin: 0px 0px 30px;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .submit-button {
  width: 110px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: #e91e63;
  border-radius: 3px;
}
.page-container .contact-main-content-container .contact-container .message-wrapper .submit-button:hover {
  cursor: pointer;
  color: #fcd0d7;
  box-shadow: 0 4px 5px 4px #fcd0d7;
}
.page-container .contact-main-content-container .contact-container .info-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-container .contact-main-content-container .contact-container .info-container .info-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page-container .contact-main-content-container .contact-container .info-container .info-wrapper .info-group {
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5a5a5a;
}
.page-container .contact-main-content-container .contact-container .info-container .info-wrapper .info-group .info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}
.page-container .contact-main-content-container .contact-container .info-container .info-wrapper .info-group .info-title {
  color: #1d2944;
  font-size: 22px;
  font-weight: 600;
}
.page-container .contact-main-content-container .contact-container .info-container .info-wrapper .info-group .info-title i {
  font-size: 26px;
  color: #e91e63;
}/*# sourceMappingURL=contact.css.map */