$pagepink: #e91e63;
$blurredpink: #fcd0d7;
$backgroundcolor: #d2d2d2;
$blueheadercolor: #3c4758;
$lightblue: #4e7395;
$darkerblue: #1d2944;
$textgrey: #5a5a5a;
$footercolor: #323437;
$darktextgrey: #b9b9b9;
