.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    .first {
      background-color: #34af7f;
    }
    .second {
      background-color: #a37e43;
    }
    .third {
      background-color: #56abcd;
    }
  }
}
