p {
  content: 1em;
  border: solid 4px #253d5b;
  padding: 30px;
  background-color: #4a306d;
  color: white;
  border-radius: 20px;
}
body {
  background-color: #e8d7f1;
}
.heavyfont {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}
.mainheaderwrap {
  content: 20px;
  padding: 30px;
  border: solid 5px #d4bdcc;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 100px;
  background-color: #a167a5;
  text-align: center;
}
.mainheaderbuttons {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 50px;
}
.input {
  border: 10px #253d5b;
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.in-input {
  margin-top: -62px;
  margin-left: -300px;
}
.icons {
  text-align: right;
  margin-right: 40px;
  margin-top: 25px;
  color: #4a306d;
}
.textbox {
  padding: 10px;
  border: solid 10px #253d5b;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 30px;
}
.headerimage {
  height: 2em;
  margin-left: 300px;
}
